<!DOCTYPE>
<html lang="en" ng-app="myApp">
<head> 
    <title>LCC Principal</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material CSS now available via Google CDN; version 0.10.1 used here -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <style>
    [ng cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
        display: none !important;
    }    
    </style>
</head>
<body ng-cloak ng-controller="AppCtrl">
    <div layout="row" layout-align="end start">
                <md-button class="md-raised md-primary" ng-click="showLogIn($event)" style=" background: #43A047;">Acceder</md-button>
    </div>    
<!-- Angular Material Dependencies -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    
    
    <!-- AQUI VA EL SCRIPT -->
    
    <script src="javascripts/users.js"></script>
</body>
</html>