.gray {
    color: #90A4AE; }
.green {
    color: #b9f6ca; }
.yellow {
    color: #ffff8d; }
.blue {
    color: #84ffff; }
.darkBlue {
    color: #80d8ff; }
.deepblue {
    color: #448aff; }
.purple {
    color: #b388ff; }
.lightPurple {
    color: #8c9eff; }
.red {
    color: #ff8a80; }
.pink {
    color: #ff80ab; }