<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>LCC Principal</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material CSS now available via Google CDN; version 0.10.1 used here -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="stylesheets/colores.css">
    <style>
        .md-button.md-fab.md-fab-bottom-right {
            top: auto;
            right: 20px;
            bottom: 20px;
            left: auto;
            position: fixed;
        }
        [ng-cloak], [data-ng-cloak], [x-ng-cloak]{
            display: none !important;
        }
    </style>
</head>
<body ng-cloak ng-controller="AppCtrl">
    <md-toolbar class="md-primary md-tall">
        <div class="md-toolbar-tools">
            <h2 hide-sm ng-hide="noInicio">
                <span>{{user.nombre | uppercase}}</span>
            </h2>
            <md-button class="md-raised md-primary" ng-click="showLogIn($event)" style=" background: #43A047;" ng-show="noInicio">Acceder</md-button>
            <md-input-container md-no-float  id="search-bar" style="padding-top: 24px;" flex layout-align="center center">
                <md-whiteframe class="md-whiteframe-z1" style="background: white; border-radius: 4px;min-width: 70%"  layout layout-margin layout-padding layout-align="center center">
                    <md-icon md-svg-src="img/icons/magnify.svg" style="color: grey;"></md-icon>
                    <input type="text" placeholder="Materia (Codigo)" ng-disabled="isDisabled" style="min-width:90%;" ng-keyup="$event.keyCode == 13 && buscar()" ng-model="materiaB">
                </md-whiteframe>
            </md-input-container>
            <md-button class="md-raised md-warn" ng-click="salir()" ng-hide="noInicio">Salir</md-button>
        </div>
    </md-toolbar>
    <!-- usar toolbar alto para incluir data adicional como subtitulos-->
    <br/>

    <div layout="column" layout-align="center center" style="max-width: 90%;" ng-hide="tieneMaterias">
        <h1 style="color: darkgray; max-width: 90%;"  ng-hide="noInicio">Upss! no tienes materias, usa el buscador para encontar, o crea una materia desde el boton inferior</h1>
        <h1 style="color: darkgray; max-width: 90%;"  ng-show="noInicio">Upss! no iniciaste sesión asegurate de iniciar sesión para poder interactuar con tus asignaturas</h1>
    </div>

    <!-- Vista de materias del usuario-->
     <div ng-show="tieneMaterias" >
        <md-grid-list md-cols-md="2" md-cols-gt-md="6"
                      md-row-height-gt-md="1:1" md-row-height="4:3"
                      md-gutter="8px" md-gutter-gt-sm="4px"><!-- cambiar $index por funcion para filtrado -->
            <md-grid-tile  ng-repeat="materia in user.materias track by $index"
                           md-rowspan="1"
                           md-colspan="2"
                           ng-class="materia.meta.background"
                           ng-click="select(materia)">
                <div>
                    <h2>{{materia.nombre | uppercase}}</h2>
                    <div flex></div>
                    <md-icon md-svg-src="img/icons/{{materia.status.img}}.svg">
                        <md-tooltip>{{materia.status.hint | uppercase}}</md-tooltip>
                    </md-icon>
                    <span>{{materia.creador.nombre | uppercase}}</span>
                    <span flex></span>
                    <h5>{{materia.codigo}}</h5>
                </div>
                <md-grid-tile-footer><h3>Ultima actualización: {{materia.ultimoPost | date:'EEE HH:mm'}}</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>

    <!-- aca va el action boton-->
    <div  ng-hide="noInicio">
        <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="MateriaNueva" ng-click="crearMateria($event)">
            <md-icon md-svg-src="img/icons/note-plus-outline.svg"></md-icon>
        </md-button>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <!-- AQUI VA EL SCRIPT -->
    <script src="javascripts/myApp.js"></script>
    <script src="javascripts/main.js"></script>

</body>
</html>