<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>LCC Materia</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material CSS now available via Google CDN; version 0.10.1 used here -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="stylesheets/colores.css">
    <style>
        .md-button.md-fab.md-fab-bottom-right {
            top: auto;
            right: 20px;
            bottom: 20px;
            left: auto;
            position: fixed;
        }
        [ng-cloak], [data-ng-cloak], [x-ng-cloak]{
            display: none !important;
        }
    </style>
</head>
<body ng-cloak ng-controller="AppCtrl">
    <md-toolbar class="md-primary md-tall">
        <div class="md-toolbar-tools">
            <h2 hide-sm ng-hide="noInicio">
                <span>{{user.nombre | uppercase}}</span>
            </h2>
            <md-button class="md-raised md-primary" ng-click="showLogIn($event)" style=" background: #43A047;" ng-show="noInicio">Acceder</md-button>
            <md-input-container md-no-float  id="search-bar" style="padding-top: 24px;" flex layout-align="center center">
                <md-whiteframe class="md-whiteframe-z1" style="background: white; border-radius: 4px;min-width: 70%"  layout layout-margin layout-padding layout-align="center center">
                    <md-icon md-svg-src="img/icons/magnify.svg" style="color: grey;"></md-icon>
                    <input type="text" placeholder="Buscar Post" ng-disabled="isDisabled" style="min-width:90%;" ng-keyup="$event.keyCode == 13 && buscar()" ng-model="materiaB">
                </md-whiteframe>
            </md-input-container>
            <md-button class="md-warn" ng-click="salir()" ng-hide="noInicio">Cerrar Sesión</md-button>
        </div>
        <div class="md-toolbar-tools-bottom" style="margin-top: 16px;">
            <span style="margin-left: 16px;" >{{ materia.nombre }}</span>
            <md-icon style="margin-left: 16px;"md-svg-src="/img/icons/{{materia.status.img}}.svg">
                <md-tooltip>{{materia.status.hint | uppercase}}</md-tooltip>
            </md-icon>
            <span style="margin-left: 15%; word-spacing: 50px;">Codigo: {{ materia.codigo }}</span>
        </div>
    </md-toolbar>
    <!-- usar toolbar alto para incluir data adicional como subtitulos-->
    <br/>
    <!-- Descripcion -->
    <div style="margin-left: 30%;">
        <md-whiteframe class="md-whiteframe-z1" layout layout-margin layout-padding layout-align="center center" style="background: white; border-radius: 4px;width: 60%">
                <h3>{{ materia.descripcion }}</h3>
        </md-whiteframe>
    </div>

    <!-- Vista de post -->
    <div layout="row" layout-padding>
        <!-- etiquetas -->
        <div flex>
        <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" style="background: white; border-radius: 4px; width: 90%;">
            <div ng-show="hayFiltro">
                <md-button class="md-warn" ng-click="listItemClick(-1)">filtro</md-button>
            </div>
            <div>
                <md-list flex layout="column" layout-align="center center">
                    <md-list-item ng-repeat="item in materia.etiquetas track by $index">
                        <md-button class="md-grid-item-content" ng-class="color($index)" ng-click="listItemClick($index)">
                            <div class="md-grid-text"> {{ item }} </div>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-whiteframe>
        </div>
        <!-- POSTs -->
        <div flex="65" ng-hide="hayPost">
            <md-grid-list  md-cols="4" md-gutter="1em" md-row-height="4:3">
                <md-grid-tile  ng-repeat="post in materia.posts | filter: filtrado"
                               md-rowspan="1"
                               md-colspan="1"
                               ng-class="post.etiqueta"
                               ng-click="select(post._id)">
                    <div>
                        <span>{{post.titulo | uppercase}}</span>
                    </div>
                    <md-grid-tile-footer><h3>{{post.creador.nombre | uppercase}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <!-- eventos -->
        <div flex ng-show="hayEventos">
            <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" style="background: white; border-radius: 4px; width: 90%;">
                <div>
                    <md-list flex layout="column" layout-align="center center">
                        <md-list-item ng-repeat="item in materia.evento | orderBy : item.fecha" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3>{{ item.titulo }}</h3>
                                <p>{{ item.fecha | date:'EEE d MMM' }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-whiteframe>
        </div>
    </div>
    <!-- aca va el action boton-->
    <div  ng-hide="noInicio">
        <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="PostNuevo" ng-click="crearPost($event)" ng-show="tieneEstaMateria">
            <md-icon md-svg-src="img/icons/note-plus-outline.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="AgregarMateria" ng-click="agregarMateria()" ng-hide="tieneEstaMateria">
            <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
        </md-button>
        <md-fab-speed-dial style="top: auto; right: auto; bottom: 20px; left: 20px; position: fixed;" md-direction="right" class="md-fling md-fab-bottom-left" ng-show="esProfesor">
            <md-fab-trigger >
                <md-button aria-label="menu" class="md-fab md-primary" >
                    <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Editar Materia" class="md-fab md-raised md-mini" ng-click="editarMateria($event)">
                    <md-icon md-svg-src="img/icons/border-color.svg" aria-label="Editar Materia" style="color: cornflowerblue;">
                        <md-tooltip>Editar Materia</md-tooltip>
                    </md-icon>
                </md-button>
                <md-button aria-label="Evento" class="md-fab md-raised md-mini" ng-click="crearEvento($event)">
                    <md-icon md-svg-src="img/icons/calendar-multiple.svg" aria-label="Evento" style="color: cornflowerblue;">
                        <md-tooltip>Crear Evento</md-tooltip>
                    </md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <!-- AQUI VA EL SCRIPT -->
    <script src="javascripts/myApp.js"></script>
    <script src="javascripts/materia.js"></script>
</body>
</html>