<html lang="en" ng-app="myApp">
<head>
    <title>LCC Principal</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material CSS now available via Google CDN; version 0.10.1 used here -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="stylesheets/colores2.css">
    <style>
        [ng-cloak], [data-ng-cloak], [x-ng-cloak]{
            display: none !important;
        }
    </style>
</head>
<body ng-cloak ng-controller="AppCtrl">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 hide-sm ng-hide="noInicio">
                <span>{{user.nombre | uppercase}}</span>
            </h2>
            <md-button class="md-raised md-primary" ng-click="showLogIn($event)" style=" background: #43A047;" ng-show="noInicio">Acceder</md-button>
            <div flex style="margin-left: 20%;">
                <h3>{{ post.titulo }}</h3>
            </div>
            <md-button class="md-warn" ng-click="salir()" ng-hide="noInicio">Cerrar Sesión</md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding" style="max-width: 70%;margin-left: 15%;">
        <md-card>
            <div layout="column" layout-padding style="margin-left: 5%;">
                <div layout="row">
                    <h3 flex="85">{{ post.creador.nombre }}</h3>
                    <md-icon flex md-svg-src="/img/icons/tag.svg" ng-class="post.etiqueta"></md-icon>
                </div>
                <br/>
                <span>{{ post.contenido }}</span>
                <br/>
                <!--md-subheader>{{ post.fecha | date:'EEE d MMM'}}</md-subheader--->
            </div>
            <md-divider ></md-divider>
            <md-list>
                <md-subheader class="md-no-sticky">Respuestas</md-subheader>
                <md-list-item class="md-3-line md-long-text" ng-repeat="item in post.respuestas">
                    <md-icon md-svg-src="/img/icons/account-circle.svg" class="md-avatar green"></md-icon>
                    <div class="md-list-item-text">
                        <h3>{{ item.usuario.nombre }}</h3>
                        <h4>{{ item.contenido }}</h4>
                        <p>{{ item.fecha | date:'EEE d h:mm' }}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider ></md-divider>
            <div class="md-actions" layout="row" layout-align="end start" style="background: #FFAB40;">
                <md-input-container md-no-float  id="search-bar" style="padding-top: 24px;" flex layout-align="center center">
                    <md-whiteframe class="md-whiteframe-z1" style="background: white; border-radius: 4px;min-width: 90%"  layout layout-margin layout-padding layout-align="center center">
                        <input type="text" placeholder="Responder" ng-disabled="noInicio" style="min-width:90%;" ng-keyup="$event.keyCode == 13 && responder()" ng-model="contenido">
                        <md-icon md-svg-src="img/icons/send.svg" style="color: #43A047;" ng-click="responder()"></md-icon>
                    </md-whiteframe>
                </md-input-container>
            </div>
        </md-card>
    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <!-- AQUI VA EL SCRIPT -->
    <script src="javascripts/myApp.js"></script>
    <script src="javascripts/post.js"></script>
<br/>
</body>
</html>